.icon{
    height: 25px;
}
.navbar{
    display: flex;
    gap: 65px;
    height: 40px;
    border-bottom: 0.5px solid #222222;
}
.nav{
    color: #222222;
    font-size: 12px;
    font-weight: 400px;
    font-family: Montserrat;
    display: flex;
    /* align-items: center; */
    margin-top: 7px;
    gap: 28px;
}
@media (max-width: 768px) {
  .navbar{
    flex-wrap: wrap;
    padding-bottom: 12px;
    gap: 15px;
    height: auto;
  }
}